body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #444444;
}
* {
    touch-action: manipulation;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-color: #222222;
}

#noise-bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../img/noise-transparent.png') repeat 0 0;
    animation: noise-bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -1;
}

@keyframes noise-bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

#cube {
    width: 50vw;
    height: 50vh;
}

#description {
    width: 100%;
    color: white;
    text-align: justify;
    padding: 0 20vw 10vh 20vw;
}

.vimeo {
    width: 100%;
    padding: 0 15vw 10vh 15vw;
}
